from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import json


from utils.algorithm_utils import TransferAndAggregateData, StateData, ExaremeError, query_from_formula, \
    set_algorithms_output_data


# ============================= INIT ============================= #
def get_data(args):
    pass


def local_init(args, local_in):
    pass


def global_init(args, global_in):
    pass


# =========================== ITERATION ========================== #
def local_step(args, local_state, local_in):
    pass


def global_step(args, global_state, global_in):
    pass


def termination_condition(args, global_state):
    pass


# ============================= FINAL ============================ #
def local_final(args, local_state, local_in):
    pass


def global_final(args, global_state, global_in):
    pass


# ============================ RESULTS =========================== #
class ${Template}Result:
    def __init__(self):
        pass

    def get_json_raw(self):
        pass

    def get_tabular(self):
        pass

    def get_highchart(self):
        pass

    def get_output(self):
        return {
            "result": [
                # Raw results
                {
                    "type": "application/json",
                    "data": self.get_json_raw()
                },
                # Tabular
                {
                    "type": "application/vnd.dataresource+json",
                    "data": self.get_tabular()
                },
                # Highcharts
                {
                    "type": "application/vnd.highcharts+json",
                    "data": self.get_highchart()
                }
            ]
        }
