<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>
        {{ title }}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var chart_data = JSON.parse('{{data | tojson}}');
            var chart = Highcharts.chart('container', chart_data);
        });
    </script>

</head>
<body>
<center>
    <div
            id="container"
            style="width: 1200px; height: 800px; margin: auto"
    ></div>
</center>
</body>
</html>