### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## .pyc files
*.py[co]

# db files
*.db
#!mipframework/runner/dbs/datasets.db
#!mipframework/runner/dbs/1LocalDBs/local_dataset0.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset0.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset1.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset2.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset3.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset4.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset5.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset6.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset7.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset8.db
#!mipframework/runner/dbs/10LocalDBs/local_dataset9.db
#!mipframework/runner/dbs/2LocalDBs/local_dataset0.db
#!mipframework/runner/dbs/2LocalDBs/local_dataset1.db

*.pkl

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Creating demo data.
tests/data/output

# Hypothesis db
*.hypothesis/*

# Test data folders
**/tests/data/
